<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>InputDemo</title>
        <p>测试</p>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
        <!--<script src="main.js"></script> -->
        <script type="text/javascript">
            var req=null;
            window.onload=function(){
                if(window.XMLHttpRequest){
                    req=new XMLHttpRequest();
                }else if(window.ActiveXObject){
                    req=new ActiveXObject("Microsoft.XMLHTTP");
                }
            }

            function onClickStart(){
                if(req){
                    req.onreadystatechange=callback;
                    req.open("POST","http://localhost:8443/login",true);
                    req.setRequestHeader("Content-Type","application/x-www-form-urlencode");
                    req.send("action=Start");
                }
            }
        </script>
    </head>
</html>